*{
    margin:0;
    padding: 0;
    outline: 0;
}

#tableOfBooks{
    left: 20%;
    margin: 20px auto;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    background: #fafafa;
}

#btnTable{
    left:40%;
    margin: 20px auto;
    width: 20%;
}

.bookTd, th, .btnTd{
    padding: 15px 20px;
    text-align: center;
}

th{
    background-color: #b7e4fc;
    color: #fafafa;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}

.bookTr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

.bookTr:nth-child(even){
    background-color: #eeeeee;
}

h1{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

#btnGetNextPage1, #btnGetNextPage2{
    font-size: 1.0em;
    list-style: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    height: 30px;
    background: #dd636e;
    border: none;
    border-radius: 10px;
    margin-left: 310px;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
}

.btnInput{
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border: none;
    border-radius: 10px;
    font-size: 1.0em;
    list-style: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    height: 30px;
    background: #f5de87;
    width: 200px;
}

#btnGetNextPage2{
    margin-left: 10px;
}

#btnGetNextPage1:hover, #btnGetNextPage2:hover, .btnInput:hover{
    background: #b7e4fc;
    cursor: pointer;
}

.sort{
    border: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.0em;
    background: #b7e4fc;
}

.sort:hover{
    cursor: pointer;
}

